{% extends 'templates/base.html' %}
{% load static %}
{% block main %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'product:home_page' %}">Home</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'product:shop_page' %}">Shop</a>
                    <span class="breadcrumb-item active">Order List</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid">
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <p class="alert alert-success mx-5">{{ message }}</p>
                {% else %}
                    <p class="alert alert-danger mx-5">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                    <tr>
                        <th>Image</th>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Color</th>
                        <th>Size</th>
                    </tr>
                    </thead>
                    <tbody class="align-middle">
                    {% for item in order.items.all %}
                        <tr>
                            <td class="align-middle"><img src="{{ item.product.image.url }}" alt="" style="width: 50px;"></td>
                            <td class="align-middle">{{ item.product.product_name.capitalize }}</td>
                            <td class="align-middle">${{ item.price }}</td>
                            <td class="align-middle">{{ item.quantity }}</td>
                            <td class="align-middle">{{ item.color.capitalize }}</td>
                            <td class="align-middle">{{ item.size.upper }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form class="mb-30" action="{% url 'basket:applyDiscount' order.id %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" name="discount_code" class="form-control border-0 p-4" placeholder="Discount Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply</button>
                        </div>
                    </div>
                </form>
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart Summary</span>
                </h5>
                <div class="bg-light p-30 mb-5">
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total</h5>
                            <h5>${{ order.total_price }}</h5>
                        </div>
                        <a href="#" class="btn btn-block btn-success font-weight-bold my-3 py-3">Pay
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->
{% endblock %}

